!/patches
!*.patch
!*.diff
/*.debhelper
/*.debhelper.log
*.pyc
*~
.#*
/*.substvars
/*-tmp/
/build/
/control
/control.md5sum
/files
/hyperv-daemons/
/libcpupower*/
/liblockdep*/
/libusbip-dev/
/linux-cpupower/
/linux-kbuild-*
/linux-perf-*
/lockdep/
/rules.gen
/stamps/
/tmp/
/usbip/
