Source: linux-kernel-2.6.12
Section: devel
Priority: optional
Maintainer: Debian Kernel Team <debian-kernel@lists.debian.org>
Standards-Version: 3.6.1.0
Build-Depends: gcc (>= 4:3.3), debhelper (>= 4), kernel-package (>= 9.000), module-init-tools, dpkg-dev (>= 1.10.23), debianutils (>= 1.6), bzip2, console-tools, sparc-utils [sparc]
Build-Depends-Indep: bzip2, debhelper (>= 4), docbook-utils, gs, kernel-package (>= 9.000), transfig, xmlto, dh-kpatches (>= 0.99.3)

Package: linux-source-2.6.12
Architecture: all
Section: devel
Priority: optional
Provides: linux-source, linux-source-2.6
Depends: binutils, bzip2, coreutils | fileutils (>= 4.0)
Recommends: libc6-dev | libc-dev, gcc, make
Suggests: libncurses-dev | ncurses-dev, kernel-package, libqt3-mt-dev
Description: Linux kernel source for version 2.6.12 with Debian patches
 This package provides the source code for the Linux kernel version 2.6.11.
 .
 If you wish to use this package to create a custom Linux kernel, then
 it is suggested that you investigate the package kernel-package,
 which has been designed to ease the task of creating kernel image
 packages. 

Package: linux-doc-2.6.12
Architecture: all
Section: doc
Priority: optional
Provides: linux-doc-2.6
Depends: coreutils | fileutils (>= 4.0)
Description: Linux kernel specific documentation for version 2.6.12
 This package provides the various README files and HTML documentation for
 the Linux kernel version 2.6.12. Plenty of information, including the
 descriptions of varios kernel subsystems, filesystems, driver-specific 
 notes and the like. Consult the file
 .
 /usr/share/doc/linux-doc-2.6.12/Documentation/00-INDEX
 .
 for the detailed description of the contents.

Package: linux-patch-debian-2.6.12
Architecture: all
Section: devel
Priority: optional
Depends: bzip2, ${kpatch:Depends}
Suggests: linux-source-2.6.12
Description: Debian patches to version 2.6.12 of the Linux kernel
 This package includes the patches used to produce the prepackaged
 linux-source-2.6.12 package, as well as architecture-specific
 patches. Note that these patches do NOT apply against a pristine
 Linux 2.6.12 kernel but only against the kernel tarball
 linux-source-2.6.12_2.6.12.orig.tar.gz from the Debian archive.

Package: linux-tree-2.6.12
Architecture: all
Section: devel
Priority: optional
Depends: linux-patch-debian-2.6.12 (= 2.6.12-1), linux-source-2.6.12 (= 2.6.12-1)
Provides: linux-tree-2.6.12-1 
Description: Linux kernel source tree for building Debian kernel images
 This meta package is used as a build dependency of Debian
 linux-image packages to prevent a version discrepancy between
 the linux-image and corresponding linux-sources packages in the
 fast-moving unstable archive. The package's dependency relations
 are structured so that a linux-image package's build
 dependencies can always be satisfied, even if the linux-source
 package that had been used to compile the image has been
 superseeded by a newer Debian revision since the last build.
 .
 The package provides a list of virtual packages, corresponding to
 Debian revisions of a linux-source package. The Debian
 linux-patch contains the information needed to roll back the
 current linux-source to any of the revisions identified by the
 provided virtual packages. Therefore, the linux-tree package
 ensures the availability of the Linux kernel source tree corresponding
 to each of the virtual packages listed.
 .
 The package serves no purpose outside of the Debian build and
 archive infrastructure.
